# Dependencies
node_modules/
.pnp
.pnp.js

# Build artifacts
artifacts/
cache/
out/
typechain/
typechain-types/

# Environment
.env
.env.local
.env.*.local

# Hardhat
.hardhat/

# Foundry
broadcast/
lib/

# Coverage
coverage/
coverage.json
lcov.info

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
